

# Ignore Python virtual environments
venv/

# Ignore compiled Python files
__pycache__/
*.py[cod]

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/


# Ignore OS-specific files (macOS)
.DS_Store

# Ignore log files
*.log

.env
tiles/
ignore/

# Ignore specific config or sensitive files
configs/secrets.yaml

wandb/
# ignore checkpoint files
*.ckpt

*.code-workspace

# DATA
data/
datacopy/
oldcode.py

1data/1raw/
1data/interim/
1data/final/
1data
#DVC
# Track .dvc files in 1data and all subdirectories
!1data/**/*.dvc