

venv/
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.DS_Store
*.log

# main folders to ignore
data/
data1/

ignoretest/
predictions/
predictions1/
predictions1/
predictions_bkp/

tiles/

ignore/
*ignore*/

# folder contents
4results/predict_input_###
4reults/ignore
4results/prediction_image_results
4results/predict_input_test

QGIS/images

# files types
*.env
*.xml
*.ckpt
*.code-workspace
*.nc

# Ignore specific config or sensitive files
configs/secrets.yaml
wandb/

# But allow .dvc files
!1data/3final/*.dvc
!1data/**/*.dvc

test_images_KEEP/

/serverscripts
deploy-item.sh
